/* 全局样式表 */
*{
    /* font-family: "MiSans","MiSans-medium","MiSans-Blod","Microsoft Yahei",Arial, Helvetica,sans-serif; */
    font-family: "MiSans-medium","Microsoft Yahei",Arial, Helvetica,sans-serif;
}

html,body,#app{
    height: 100%;
    margin: 0;
    padding: 0;
}
a{
    text-decoration:none;
    color: #000;
}
textarea{
    resize: none;
}
button{
    cursor: pointer;
    border: 0; 
    outline: none;
    transition: all ease .5s;
}
p{
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

/* 滚动条整体样式 */
*::-webkit-scrollbar {
    width: 10px; 
    background-color: #cccccc;
}
/* 滚动条中的小方块 */
*::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    background: #535353;
}
*::-webkit-scrollbar-track{
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 0px;
}
/* 抖动 */
@keyframes shake {
    10%, 90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%, 80% {
        transform: translate3d(2px, 0, 0);
    }

    30%, 50%, 70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%, 60% {
        transform: translate3d(4px, 0, 0);
    }
}

.apply-shake {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
}

/* 引入字体 */
@font-face {
    font-family: 'MiSans';
    /* src: url(../font/MiSans-Regular.woff2) format("woff2"); */
    src: url(../font/MiSans-Normal.woff2) format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MiSans-Blod';
    src: url(../font/MiSans-Bold.woff2) format("woff2");
}

@font-face {
    font-family: 'MiSans-medium';
    src: url(../font/MiSans-Medium.woff2) format("woff2");
}